<div class="products">
  <aside class="sidebar product-categories">
    <div class="widget">
      <h2 class="widget-title">Chuyên mục</h2>
      {{> product_categories}}
    </div>
  </aside>
  <div class="product-list">
    {{> product_list}}
  </div>
</div>