<footer class="footer">
  <div class="container">
    <div class="copyright">
      <span class="copyright-text">
        <i class="fa-solid fa-copyright"></i> Bản quyền thuộc về <b>RedStore</b> - {{copyrightYear}}
      </span>
    </div>
  </div>
</footer>