<header class="header">
  <div class="container">
    <div class="header-logo">
      <h1>
        Red Store
      </h1>
    </div>
    <button id="toggle-nav"><i class="fa-solid fa-bars"></i> Menu</button>
    <nav class="header-navigation">
      <ul class="nav">
        {{#if menu_items.length}}
          {{#each menu_items}}
            <li class="nav-item{{#if this.active}} active{{/if}}"><a href="{{this.href}}" class="nav-link">{{this.title}}</a></li>
          {{/each}}
        {{/if}}
        <li class="nav-item"><a href="/auth/login" class="nav-link">Đăng nhập</a></li>
        <li class="nav-item"><a href="/auth/register" class="nav-link">Đăng ký</a></li>
      </ul>
    </nav>
  </div>
</header>