<div class="categories">
  {{#if categories.length}}
    {{#each categories}}
      <a href="#" class="category-item">{{this.category_name}}</a>
    {{/each}}
    {{else}}
    <div class="category-empty">
      Không có chuyên mục nào trong hệ thống
    </div>
  {{/if}}
</div>