<div class='panel'>
  <div class='panel-header'>
    <h2 class='panel-title'>{{title}}</h2>
    <div class='panel-actions'>
      <a href='/_/admin/product' class='panel-action-item'>Quay lại</a>
      <a
        class='panel-action-item'
        data-submit-target='#hidden-submit-btn'
      >Lưu</a>
    </div>
  </div>
  <div class='panel-content'>
    <form
      class='panel-form'
      method='post'
      action='/_/admin/apis/product/new'
      data-redirect='/_/admin/product'
    >
      <div class='panel-form-group'>
        <label for='name'>Tên sản phẩm</label>
        <input
          id='name'
          name='product_name'
          type='text'
          required
          placeholder='Tên sản phẩm'
          class='panel-form-input'
        />
      </div>
      <div class='panel-form-row'>
        <div class='panel-form-group expand'>
          <label for='description'>Mô tả sản phẩm</label>
          <textarea
            id='description'
            name='product_description'
            placeholder='Mô tả chuyên mục'
            class='panel-form-textarea'
          ></textarea>
        </div>
        <div class='panel-form-group'>
          <div
            class='panel-image-uploader'
            data-title='Ảnh sản phẩm'
            data-field-name='product_thumbnail'
            data-multiple='false'
          />
        </div>
      </div>
      <div class='panel-form-group'>
        <div
          class='panel-select'
          data-source='/apis/category/list'
          data-field-name='product_category'
          data-multiple='false'
        />
      </div>
      <input type='hidden' name='_method' value='patch' />
      <input type='submit' id='hidden-submit-btn' style='display: none' />
    </form>
  </div>
</div>